$media-xs-max: 767px;
$media-sm-min: 768px;
$media-md-min: 992px;
$media-lg-min: 1200px;

$mobile-only: "(max-width: 767px)";
$breakpoint-sm : "(min-width: 768px)";
$tablet-portrait: "(min-width: 992px)";
$tablet-landscape: "(min-width: 1024px)";
$desktop: "(min-width: 1200px)";
$desktop-lg: "(min-width: 1400px)";