.header ul.language li.horizontal {
  padding-left: 9px;
  padding-right: 9px;
  font-size: 12px;
  color: #909497; }

.header ul.language li.active {
  color: #000000; }

.header button.menu {
  width: 80px;
  height: 100px;
  border-radius: 0;
  line-height: 2.5; }
  .header button.menu span.spanfont {
    font-size: 1rem;
    color: #fff; }
  .header button.menu span.icon-bar {
    margin-left: 13px;
    margin-bottom: 5px;
    display: block;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 1px;
    line-height: 1; }

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .header .overlay .overlay-content {
    position: relative;
    top: 11%;
    width: 100%;
    text-align: center;
    margin-top: 30px; }
  .header .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .header .overlay a:hover, .header .overlay a:focus {
      color: #f1f1f1; }
  .header .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px; }
  @media screen and (max-height: 450px) {
    .header .overlay a {
      font-size: 20px; }
    .header .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px; } }
